$bannerH1Large: 18px;
$bannerH1Medium: 16px;
$bannerH1Small:14px;

.banner {
  display: flex;
  width: 80%;
  height: 400px;
  gap: 3em;
  align-items: center;
  justify-content: space-around;
  margin: 1em;

  .banner_img {
    object-fit: contain;
    flex: 1;
  }

  .banner_text {
    text-align: left;
    font-size: $bannerH1Large;
    flex: 1;
  }

  .cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    .cta_video {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2em;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100%;
    .banner_text {
      font-size: $bannerH1Medium;
    }
  }
}

@media (max-width: 568px) {
  .banner {
    width: 100%;
    margin: auto 0;
    margin-top: 6em;
    padding-left: 1em;
    flex-direction: column;
    .banner_img {
      display: none;
    }
    .banner_text {
      font-size: $bannerH1Small;
    }
  }
}
