$bannerH1Large: 18px;
$bannerH1Medium: 16px;
$bannerH1Small:14px;

.banner {
  display: flex;
  width: 100vw;
  height: 400px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #dbe9f0;

  .banner_text {
    width: 55%;
    text-align: left;
    font-size: $bannerH1Large;
    font-weight: bold;

    & h1 {
      font-size: 3.375rem;
      color: #162c13;
    }

    & p * {
      font-weight: bold;
      color: #33662e;
      cursor: pointer;
    }

    & input {
      width: 90%;
      padding: 1rem;
      font-size: 1rem;
      outline: none;
      border: none;
      color: #023852;
      border-radius: 5px;
      margin-top: 1rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 935px) {
  .banner {
    .banner_text {
      width: 75%;
      
      & h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 610px) {
  .banner {
    width: 100%;
    

    .banner_text {
      width: 100%;
      padding: 0 1rem;

      & h1 {
        font-size: 2.25rem;
      }

      & imput {
        margin-bottom: 0;
      }

    }
  }
}
