.banner {
  display: flex;
  width: 80%;
  height: 400px;
  gap: 3em;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

.banner_img {
  object-fit: contain;
  flex: 1;
}

.banner_text {
  text-align: left;
  font-size: 18px;
  flex: 1;
}

.button {
  border-radius: 8px;
  background-color: #1adebb;
  padding: 0.8em;
  font-size: 1rem;
}

.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.mini_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
}
