.container {
  display: flex;
  width: 30em;
  flex-direction: column;
  border-radius: 1em;
}

.container:hover {
  cursor: pointer;
  width: 30.1em;
  transition-delay: 50ms;
}

.container:hover h3 {
  color:#2a4aba;
  transition-delay: 50ms;
}

.card_img {
  position: relative;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #000;
}

.card_user {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card_small {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card_text {
  position: inherit;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.5em;
  padding-top: 0.5em;
}

.card_text small {
  color: #bd2920;
}

.card_text > p {
  margin-top: 0;
  padding-top: 0;
}
